$custom-primary: #f5abaa;
$green-light: #cfe383;

$theme-colors: (
  primary: $custom-primary,
  danger: #aa0b02,
);

.btn {
  color: #fff !important;
}

$btn-border-radius: 30px;
@import "bootstrap";

@import "~bootstrap/scss/bootstrap.scss";
